#Generated documentation package
package-doc
lib-doc
#Backup files from JEDIT
*.*~
#Compilation logs
*.javaclog
#Junit test logs
TEST-sztejkat.abstractfmt.*.txt
# Temporary rejected/removed data.
.rejected/**
# Test case dump files
/*-temp/**
