#Generated documentation package
package-doc
lib-doc

#Generated jar files
/*.jar

#Backup files from JEDIT
*.*~

#Compilation logs
*.javaclog
#Junit test logs
TEST-sztejkat.abstractfmt.*.txt

# Temporary rejected/removed data.
**/.rejected/**
/.rejected/**
# Test case dump folders
**/*-temp/**
/*-temp/**

# Secret files You should not see
.githubtoken
